<!-- enterprise case study -->
<div class="bg-secondary">
  <div class="container grid grid-cols-1 sm:grid-cols-12 gap-8">
    <div><a name="ecommerce"></a></div>
    <article class="max-w-2xl sm:col-span-5 text-right">
      <h6>Usability Study</h6>
      <h2>Electronic Supplies Buying Experience</h2>
      <p>My client already had new proposed designs, but with millions of shoppers, they were concerned about the impact of changing their e-commerce experience. Using quantitative and qualitative methods, as well as watching users directly interact with the prototypes, we helped them move forward with the best choice.</p>
      <a href="/ux-portfolio/ecommerce-usability-study"><button>Read More</button></a>
    </article>
    <div class="sm:col-span-5 grid sm:grid-cols-2 gap-4"> 
      <div class="sm:col-span-2"><img src="/images/previews/ecommerce2.png"></div>
      <div class="sm:col-span-1"><img src="/images/previews/ecommerce4.png"></div>
      <div class="sm:col-span-1"><img src="/images/previews/ecommerce3.png"></div>
      <div class="sm:col-span-2"><img src="/images/previews/ecommerce1.png"></div>
    </div>
  </div>
</div>
<div class="break-xl"></div>
