<!-- enterprise case study -->
<div class="bg-secondary">
  <div class="container grid grid-cols-1 sm:grid-cols-12 gap-8">
    <div></div>
    <article class="max-w-2xl sm:col-span-5 text-right">
      <h6>Product Design</h6>
      <h2>Designing an enterprise tech support tool</h2>
      <p>Leveraging prior research, I created scenarios, flows and an interactive prototype to inform development of a new enterprise technical support tool for a large computer manufacturer’s customer support staff.</p>
      <router-link to="/ux-portfolio/enterprise-tech-support-tool"><button>Read More</button></router-link>
    </article>
    <div class="sm:col-span-5 grid sm:grid-cols-2 gap-4"> 
      <div class="sm:col-span-1"><img src="/images/enterprise1.png" alt="A workflow diagram composed of labeled multi-color blobs"></div>
      <div class="sm:col-span-1"><img src="/images/enterprise2.png" alt="A wireframe of page showing a network diagram for computers being diagnosed"></div>
      <div class="sm:col-span-2"><img src="/images/enterprise3.png" alt="A finished high fidelity design of a network monitoring tool"></div>
    </div>
    <div></div>
  </div>
</div>
<div class="break-xl"></div>
