<!-- enterprise case study -->
<div class="bg-secondary">
  <div class="container grid grid-cols-1 sm:grid-cols-12 gap-8">
    <div></div>
    <div class="sm:col-span-5 grid sm:grid-cols-2 gap-4"> 
      <div class="sm:col-span-2"><img src="/images/previews/giving1.jpg"></div>
      <div class="sm:col-span-1"><img src="/images/previews/giving4.jpg"></div>
      <div class="sm:col-span-1"><img src="/images/previews/giving3.png"></div>
    </div>
    <article class="max-w-2xl sm:col-span-5">
      <h6>UX Research and Design</h6>
      <h2>Giving Portal for Charitable Organization</h2>
      <p>I used generative and participatory user research methods to help a client understand people's giving habits, and used those insights to design an MVP they could socialize within their organization.</p>
      <!--<router-link to="/ux-portfolio/giving-research-mvp"><button>Read More</button></router-link>-->
    </article>
  </div>
</div>
<div class="break-xl"></div>
