<!-- portfolio -->
<section id="portfolio">
  <div class="container grid grid-cols-1 md:grid-cols-12 gap-4">
    <header class="md:col-span-12"><h1>Portfolio</h1></header>
  </div>
  {% include './enterprise.njk' %}
  {% include './lighting.njk' %}
  {% include './uidesign.njk' %}
  {% include './giving.njk' %}
  {% include './ecommerce.njk' %}
</section>
