<!-- enterprise case study -->
<div class="bg-secondary">
  <div class="container grid grid-cols-1 sm:grid-cols-12 gap-8">
    <div><a name="lighting"></a></div>
    <div class="sm:col-span-5 grid sm:grid-cols-12 gap-4"> 
      <div class="sm:col-span-7"><img src="/images/previews/lighting1.png"></div>
      <div class="sm:col-span-5 grid gap-4">
        <img src="/images/previews/lighting2.jpg">
        <img src="/images/previews/lighting3.png">
        <img src="/images/previews/lighting4.jpg">
      </div>
    </div>
    <article class="max-w-2xl sm:col-span-5 text-left">
      <h6>Interaction Design</h6>
      <h2>Prototyping a lighting control app</h2>
      <p>Configuring commercial lighting controllers during an installation is a difficult, time-consuming process. Users struggle with complex and poorly designed lighting interfaces. I redesigned the controller interface to make these problems easier.</p>
      <a href="/ux-portfolio/lighting-control-application"><button>Read More</button></a>
    </article>
    <div></div>
  </div>
</div>
<div class="break-xl"></div>
