---
title: "kylie jack: ux advocacy and design transformation"
keywords: kylie, jack, ux strategy, product design, product management, ui design, ux design, interaction design, user research, usability
description: I'm a product and UX designer with over 16 years of design experience, and 25 years in the software industry. I specialize in advocacy and organizational maturity in design thinking, user-centered design, and user experience strategy.
layout: default
---
{% block nav %}
  {% include 'nav.njk' %}
{% endblock %}

{% block content %}
  {% include 'index/about.njk' %}
  {% include 'index/experience.njk' %}
  {% include 'index/contact.njk' %}
  {% include 'index/praise.njk' %}
{% endblock %}
