<nav class="portfolio">
  <div class="container">
    <div class="back"><a href="/#portfolio"><i class="material-icons md-36">arrow_back</i></a></div>
    <div class="title"><p>{{ title }}</p></div>
    <div class="close"><a href="/#portfolio"><i class="material-icons md-36">close</i></a></div>
  </div>
</nav>
