<!-- about -->
<section
  id="about" 
  name="about"
>
  <div class="container grid grid-cols-1 md:grid-cols-12 gap-4">
    <div class="break-lg"></div>
    <header class="md:col-span-12">
      <h1>Hello, I’m Kylie.</h1>
    </header>
  </div>
  <div class="container grid grid-cols-1 md:grid-cols-12 gap-4">
    <div class="col-span-3"></div>
    <article class="md:col-span-6">
      <h2>User advocacy and design transformation</h2>
      <p>Over my design career, each step of the way I’ve nurtured organizations by advocating for user-centered design, teaching design thinking, and building and maturing UX capabilities—not just to improve products and services, but to benefit the organization itself and the people within it. Everyone in an organization impacts and has ownership of customer and user experiences. I mentor and guide people to understand the concepts of design thinking and user-centered design in order to create meaningful, positive impact in the world.</p>
      <h2>Experience design and product management</h2>
      <p>In my 26 years of experience (over 12 as a designer and 14 as a developer), I’ve worked in a variety of roles (developer, designer, researcher, product manager) for a diverse group of startups, agencies, and product companies. I focus on user experience design and leadership, because I love engaging directly with users and customers. My specialties include product development, design team management, and user-centered design. I craft and evolve products and services to make a positive impact on people’s daily lives, from work to play.</p>
      <div class="text-center">
        <a href="https://assets.kyliejack.com/kyliejack/documents/kylie%20jack%20resume.pdf" target="_blank"><button>Download Resume</button></a>
      </div>
    </article>
    <div class="col-span-3"></div>
  </div>
</section>
<div class="break-lg"></div>
