<!-- testimonials -->
<section id="praise" name="praise" class="container grid grid-cols-1 md:grid-cols-2 gap-4">
  <header class="md:col-span-2">
    <h1>Praise</h1>
  </header>

  <!-- natasha -->
  <article class="grid col-span-1 grid-cols-6 gap-4">
    <div class="quotemark col-span-1">&ldquo;</div>
    <div class="quotation col-span-5">
      <p>Kylie has an excellent sense of why the magic is missing from a product, and clarity of vision on where it needs to go. They have great soft skills and help create team alignment through UX schemes. Often, I would find that Kylie could skillfully convey concepts in a just few bullet points that I would take paragraphs to describe.</p>
      <p class="cite">—Natasha (peer)<br>Sr Game Designer</p>
    </div>
  </article>

  <!-- dana -->
  <article class="grid col-span-1 grid-cols-6 gap-4">
    <div class="quotemark col-span-1">&ldquo;</div>
    <div class="quotation col-span-5">
      <p>Kylie’s ‘all-in’ and ‘how can we…?’ attitude motivated me (and all the other designers) to do their best work even when faced with challenging conditions.</p>
      <p class="cite">—Dana (direct report)<br>Product Design Lead</p>
    </div>
  </article>

  <!-- christina -->
  <article class="grid col-span-1 grid-cols-6 gap-4">
    <div class="quotemark col-span-1">&ldquo;</div>
    <div class="quotation col-span-5">
      <p>Kylie helped HR save a Development platform project that was struggling, and I personally worked with them to establish a budding DEI program that has provided tangible improvement to the business.</p>
      <p class="cite">—Christina (peer)<br>Sr Tech Recruiter</p>
    </div>
  </article>

  <!-- harry -->
  <article class="grid col-span-1 grid-cols-6 gap-4">
    <div class="quotemark col-span-1">&ldquo;</div>
    <div class="quotation col-span-5">
      <p>Kylie positioned themself as a catalyst for our group, helping us understand and guide each other. They brought more empathy to our practice, taught our team and game teams design thinking, while maintaining a presence and sense of humor.</p>
      <p class="cite">—Harry (peer)<br>Sr UX Designer</p>
    </div>
  </article>

  <!-- kevin -->
  <article class="grid col-span-1 grid-cols-6 gap-4">
    <div class="quotemark col-span-1">&ldquo;</div>
    <div class="quotation col-span-5">
      <p>Kylie consistently followed through on her end to create meaningful partnerships that made it easy for us to devote time and effort to a project that was of critical importance to all parties involved.</p>
      <p class="cite">—Kevin (vendor)<br>Recruiting Manager</p>
    </div>
  </article>

  <!-- kris -->
  <article class="grid col-span-1 grid-cols-6 gap-4">
    <div class="quotemark col-span-1">&ldquo;</div>
    <div class="quotation col-span-5">
      <p>Kylie transformed what would’ve been a very modest site into a beautiful, professional and user-friendly platform. Kylie mapped out a realistic timeline, designed excellent wireframes and UI, and conducted productive user testing. The results were far above my expectations.</p>
      <p class="cite">—Kris Olsen (peer)<br>Learning &amp; Development</p>
    </div>
  </article>
</section>
<div class="break-xl"></div>
